<h1>Products</h1>

<%= link_to "New product", new_product_path if authenticated? %>
<%= link_to "Login", new_session_path unless authenticated? %>

<hr/ >
<div id="products">
  <ul>
  <% @products.each do |product| %>
    <li>
      <%= link_to product.name, product_path(product.id) %>
    </li>
  <% end %>
  </ul>
</div>